@import "../../common/colors.scss";

.movie-list,
.show-list {
    padding: 0 30px;
    margin: 20px 0px;
    h2 {
        color: $font-secondary;
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 28px;
        
    }

}

