@import '../../common/colors.scss';

.header {
    background: $secondary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 25px;
    .logo {
        font-weight: bold;
        font-size: 28px;
        text-transform: uppercase;
        color: $font-primary;
    }
    .user-image {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        img {
            max-width: 100%;
        }
    }
}