@import "../../common/colors.scss";
.footer {
    background: $secondary-color;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-primary;
    flex-direction: column;
    padding: 20px 0
    h2 {
        font-weight: bold;
        margin-bottom: 10px;
    }
}